@import url('satoshi.css');
@import url('cabinet-grotesk.css');
@import url('melodrama.css');


body{
    min-height: 100vh;
    background-color: #F0F0F2;
}
subbody{
    width: auto;
    max-width: 1000px;
}
* {
    font-size: 1em;
    font-family: Satoshi-medium;
}
a {
    color: #000000;
    font-weight: 200;
}
.hr{
    display: block;
    height: 2px;
    border: 0;
    border-top: 2.5px solid #8B2F26;
    margin: 1em 0;
    padding: 0;
    width: 5vw;
    margin-left: auto;
    margin-right: auto;
}
.dividerline {

}
.divide{
    display: none;
}
.divide2{
    height: 1%;
}
.h2 {
        /* font-weight: 800; */
        font-size: 3em;
        text-align: center;
        margin: 40px;
        color: #B5CBD9;
        font-family: 'satoshi-bold';
}
.h3 {
    font-size: 2em;
    margin-top: 20PX;

}
.h4 {
    color: #fff;
}
.vl {
    border-left: 6px solid rgb(154, 63, 63);
    height: 85px;
    float: right;
    margin-top: 25px;
    margin-right: 19px;
    margin-left: 16px;
}
.well {
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: #fff; */
    /* border-left: 2px solid lightgray; */
}
.nav>li {
    /* text-align: center;
    position: relative;
    display: block;
    width: 12%; */
    width: auto;
    /* margin-right: 7%; */
    display: inline-block;
    color: #453F3C;
    font-family: satoshi-medium;
    font-size: 1em;
    letter-spacing: .9px;
    text-decoration: none;
    justify-content: center;
}
.navbar-nav {
display: flex;
flex-direction: row;

}
.navbar-collapse{
    padding-left: 0;
}
.navbar{
    /*    margin-top: 8%;*/
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.navbar-default {
        background-color: transparent;
        border-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    /*    color: #555;*/
    /*    background-color: #62B6CB;*/
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    /*    border-color: #083D77;*/
}
.navbar-collapse {
    padding-right: 0px;
}
.Title_wrapper{
    float: left;
    margin-bottom: 5px;
}
.Title{
    /* font-weight: 800; */
    display: flex;
    max-width: 22%;
    min-width: 77px;
    color: #B5CBD9;
    float: left;
    margin-bottom: 0px;
    font-size: 50px;
    font-family: 'Melodrama-bold';
}
.Title_big{
    /* font-weight: 800; */
    color: #e5e5e5;
    float: left;
    margin-bottom: 0px;
    margin-left: 20px;
    font-family: 'Satoshi-Black';
        font-size: 48px;
    width: 100%;
}
.Title2{
    font-weight: 800;
    color: #000000;
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
}
.logo {
    width: 300px;
    /* position: relative;
    float: left;
    text-decoration: none;
    object-fit: contain;
    margin: auto;
    margin-right: 5vw; */

}
.Button_wrapper{

}
.buttoncontact {
    float: right;
    margin: 2%;
    color: white;
    background-color: #8B2F26;
    font-weight: 800;
    border-radius: 10px;
    border: none;
    padding: 16px;
    font-family: Satoshi-Black;
    font-size: 1em;
    transition: 0.3s;

}
.buttoncontact:hover {
    color: #8B2F26;
    background-color: white;
}
.buttonlearnmore {
    margin-top: 26px;
    color: white;
    background-color: transparent;
    border: 5px solid #F0F0F2;
    border-radius: 10px;
    padding: 16px 32px;
    font-family: Satoshi-Black;
    font-size: 1em;
    transition: 0.3s;   
}
.buttonlearnmore:hover {
    color: #B5CBD9;
    background-color: white;
}
.buttoncontact2 {
    float: right;
    margin: 2%;
    margin-top: 12px;
    color: white;
    background-color: #8B2F26;
    font-weight: 800;
    border-radius: 10px;
    border: none;
    padding: 12px;
    font-family: Satoshi-Black;
    font-size: 12px;
    transition: 0.3s;

}
.buttoncontact2:hover {
    color: #8B2F26;
    background-color: white;
}
.row {
    display: flex;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    width: 50%;
    float: left;
    background-color: #B5CBD9;
    border-radius: 10px 0px 0px 10px;
  }
  .column2 {
    float: left;
    width: 33%;
    display: block;
    margin: 26px;
  }
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #B5CBD9;
    width: auto;
    height: 700px;
  }
  .icon {
    width: 200px;
    margin: 26px;
  }
  .grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-content: space-around;

  }
  .grid-item {
    border: 2px solid #e7e7e7;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    background-color: #B5CBD9;
  }
  .grid-image {
    border-radius: 10px;
    width: 100%;
  }
  .grid-text {
    padding: 0 20px 20px;
    width: 300px;
    text-align: center;
  }
  #more {
    display: none;
  }
  .tall {
    height: 172px;
  }
  .imgright {
    flex: 50%;
    display: block;
    background-color: #B5CBD9;
    border-radius: 0px 10px 10px 0px;  }
.button {
    border: 1px solid;
    border-radius: 10px;
    border-color: #ff0000;
    font-size: 24px;
    color: #000000;
    background-color: transparent;
}
.button:hover {
    background-color: #ff0000;
    color: #fff;
}
.link {
    font-family: satoshi-light;
}
.Break{
    margin-top: 105px;
}
.Address{
    float: left;
    font-family: Satoshi-light;
    font-size: 24px;
    color: #000000;
    margin: 20px;
}
.Phone{
    float: right;
    font-weight: 800;
    color: #ff0000;
    text-shadow: 1px 1px 2px rgba(0,0,0,.45);
    margin-top: 26px;
    margin-right: 17px;
}
.Tagline_Home_Wrapper{
    /*
    max-width: 48%;
    margin-right: 2em;
    float: right;
    text-align: left;
    */
}
.Tagline_Home{
font-size: 3em;
    text-align: center;
    margin: 40px;
    color: #B5CBD9;
}
.home_hours{

}
.home_M_hours{
    float: right;
    margin-right: 41%;
}
.home_N_hours{
    margin-left: 2%;
}
.Tagline_Contact{
    font-size: 3em;
}
.well_bg {
    background: url(newImages/glasses.jpeg) no-repeat;
    background-color: #e0e4e5;
    min-height: 730px;
}
.well_bg2{
    background: url(newImages/glasses_bg.jpeg) no-repeat;
    background-color: #e0e4e5;
    min-height: 800px;
}
.contact_well {
    background-color: rgba(145, 145, 145, 0.75);
    width: fit-content;
    width: -moz-fit-content;
    padding: 15px;
    padding-top: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2.5px 2.5px 2.5px 2.5px;
    border-color: lightgrey;
}
.norman_contact{
    margin-left: 3%;
}
.moore_contact{
    float: right;
    margin-right: 30%;
    min-height: 564px;
}
.call_us_moore{
    margin-bottom: 40px;
}
.about_us_well {
    overflow: hidden;
    padding-bottom: 30px;
}
.about_us_tagline {
    font-size: 4em;
    font-weight: 600;
}
.about_us_pre {
    font-size: 2em;
    font-weight: 600;
    width: 77%;
    margin-bottom: 30px;
}
.names {
    font-weight: 800;
    font-size: 1.5em;
    margin-top: 30px;
    margin-left: 5px;
}
.troy_name{

}
.pepper_name{

}
.bio_pic {
    float: right;
    margin-left: 20px;
    margin-right: 5px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2.5px 2.5px 2.5px 2.5px;
    border-color: lightgrey;
}
.troy_pic{

}
.pepper_pic{

}
.bio{
    font-size: 1.1em;
    min-height: 270px;
}
.troy_bio{

}
.pepper_bio{

}
.map_wrapper{

}
.map{
    width: 100%;
}
.foot {
    min-height: 200px;
    margin: -6px;
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-top: 45px;
}
.promotions_description{
    font-size: 1.5em;
}
.Tagline_insurance_Wrapper{
    width: 70%;
    padding-left: 10px;
}
.image_well{

}
.insurance_image{

}
.fbImg{
    width: 100px;
}
.schImg{
    width: 150px;
}
.Tagline_Services {
    font-size: 36px;
    line-height: 1.25;
}
.services_well{
    margin-top: 10px;
    padding:10px; 
    min-height: 60vh;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.servicesInfo {
    font-size: 14px;
    line-height: 22px;
}
.servicesImgs{
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.seperator{
    width: 101%;
    height: 18px;
    background-color: black;
    margin-left: -6px;
}
.temp{
    height: 60px;
}
.doctible {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#docButtonWrapper{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#doctibleButton{
    
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
@media only screen and (max-width: 1200px) {
    #doctibleButton{
        
    }
    .navbar {
        margin-top: 1%;
    }
    .servicesImgs {
        max-width: 750px;
    }
    .home_M_hours {
        float: right;
        margin-right: 30%;
    }
    .moore_contact {
        float: right;
        margin-right: 15%;
    }
}
@media only screen and (max-width: 1000px) {
    #doctibleButton{
       
    }
    .temp{
        display: none;
    }

    .Break{
        margin-top: 10px;
    }
    .divide{
        display: block;
        width: 13em;
        height: 15px;
    }
    .navbar {
        margin-top: 0%;
    }
    .Title_wrapper {
        float: none;
        margin-bottom: 35px;
    }
    .Title{
        float: inherit
    }
    /* .Address {
        float: none;
        font-weight: 800;
        color: #ff0000;
        text-shadow: 1px 1px 2px rgba(0,0,0,.45);
        margin-top: -7px;
    }
    .Phone {
        float: inherit;
        font-weight: 800;
        color: #ff0000;
        text-shadow: 1px 1px 2px rgba(0,0,0,.45);
        margin-top: -15px;
        margin-right: 17px;
    } */
    .navbar-toggle {
        float: right;
        margin-left: 5px;
        
    }

    .nav>li {
        margin: auto;
    }
    .smallNavHead{
        width: 15%!important;
    }
    .vl{
        display: none;
    }
    .Tagline_insurance_Wrapper{
        width: 80%;
        padding-left: 10px;
    }
    .servicesImgs {
        max-width: 400px;
    }
    .moore_contact {
        float: none;
        margin-right: none;
    }
    .norman_contact {
        margin-left: none;
    }
    .row {
        display: block;
    }
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .column2 {
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    #doctibleButton{
        
    }
    .nav>li {
       
    }
    .smallNavHead{
        width: 20%!important;
        
    }
    .Title {
        width: 100vw;
    }

}
@media only screen and (max-width: 600px) {
    #doctibleButton{
       
    }
    .Title{
        float: inherit;
    }
    .logo {
        width: 200px;
    }
    /* .Address {
        float: inherit;
        font-weight: 800;
        color: #ff0000;
        text-shadow: 1px 1px 2px rgba(0,0,0,.45);
        margin-top: -7px;
    }
    .Phone {
        float: inherit;
        font-weight: 800;
        color: #ff0000;
        text-shadow: 1px 1px 2px rgba(0,0,0,.45);
        margin-top: -15px;
        margin-right: 17px;
    } */

    .navbar {
        display: flex;
    }
    .nav>li {


    }
    .buttoncontact2 {
        font-size: 10px;
        padding: 10px;
    }
    .well_bg {

        background: none;
        background-color: #e0e4e5;
        min-height: 730px;
    }
    .about_us_tagline {
        font-size: 2.55em;
        font-weight: 600;
    }
    .about_us_pre {
        font-size: 1.5em;
        font-weight: 600;
        width: none;
        margin-bottom: 30px;
    }
    .bio_pic {
        float: none;
        margin-left: none;
    }
    .hours_headline {
        font-size: 1.5em; 
    }
    .contact_ul{
        padding-left: 25px;
    }
    .Tagline_insurance_Wrapper{
        width: 100%;
        padding-left: 10px;
    }
    .servicesImgs {
        max-width: 375px;
    }
    .home_N_hours {
        margin-left: none; 
    }
    .home_M_hours {
        margin-right: none; 
        float: none
    }
}
@media only screen and (max-width: 450px) {
    #doctibleButton{
        
    }

    .servicesImgs{
        max-width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .insurance_image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}